.project-cta button i{
	margin-right: 5px;
}

.live-link {
	background-color: #0a75f3;
	border-color: #0a75f3;
	
}

.live-link:focus, .live-link:active {
	outline: none !important;
   box-shadow: none !important;

}

.btn-github {
	background-color: #000;
	border-color: #000;
	color:white;
	outline: none;
}

.btn-github:focus{
	background-color: #000;
	border-color: #000;
	outline: none;
	box-shadow: 0 0 0 0.2rem rgba(0,0 ,0 ,0);
}

.btn-github:hover {
	background-color: #3a3a3a;
	border-color: #3a3a3a;
}